.grid {
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  justify-content: space-around;
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cell {
  flex: 0 0 30%; /* don't grow, don't shrink, width */
  height: 3em;
  margin-bottom: 5px;
  background-color: aqua;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
}

.over {
  pointer-events: none;
}
